<%- include('templates/head') %>

    <body>

        <%- include('templates/header') %>

        <main>
            <h2>El alquiler ha sido exitoso</h2>
        </main>

        <%- include('templates/footer') %>

</body>
</html>