<%- include('templates/head') %>

<body>
    <%- include('templates/header') %>
    <main>
        <h2 class="h2-index">El mejor lugar para alquilar coches</h2>
        <p class="descripcion-principal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti libero veniam optio, ipsam explicabo id omnis accusamus fuga porro numquam ab odit culpa ullam cum harum laboriosam ducimus vel unde repellendus! Quos, laborum! Consequatur ex commodi eveniet quod, fuga placeat accusamus quasi distinctio ullam, aspernatur iusto, earum incidunt iste corporis.</p>
    </main>
    <%- include('templates/footer') %>
</body>

</html>